################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/CommandLineArgumentParser/obj
/CommandLineArgumentParser/bin
/ArgumentSplitter.Test/bin
/ArgumentSplitter.Test/obj
